.Tr-AddToBasketIcon-container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.Tr-AddToBasketIcon {
    min-width: 76px;
    min-height: 44px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    display: flex;
    background: #fe3921;
    border-color: #fe3921;

    .SvgIcon {
        stroke: none;
        width: 24px;
        height: 17px;
    }
}
