// color ------------------
$white: #fff;
$black: #000;
$primary: #3C4636 !default;
$secondary: #667662;
$primary-red: #ed0d01;
$success: #65b50d;
$warning: #f7d14f;
$alert: #e20c0c;

//Elux theme color
$blue-rich: $primary;
$blue-mid: #7a8a9c;
$blue-light: #adb9c3;
$blue-tint: #dfe7ea;

$gray: #333333;
$carbon: #646569;
$total-icon-background-color: #ff3a30;

$secondary-highlight: #a7b1a4;

$light-gray: #dadada;

$light-green: #DDEBD9;

$light-green2: #E7EFE5;

$pistachio-gray: #dbdfe1;

$menu-background-color-mobile: $white;
$menu-background-color: $white;
$menu-text-color: $primary;

$dark-gray: #353536;
// Greys
$pale-gray: #eff2f3;
$light-gray: #d1d3d3;
$medium-gray: #848588;
$medium2-gray: $medium-gray;
$medium3-gray: #c1c1c4;

$global-search-tip-bar-heading-bg: #dfe7ea;
$global-search-tip-bar-heading-color: $primary;
$global-search-tip-bar-color: $primary;

$primary-highlight: #7a8a9c;

$darkblue-focus: #001e42;
$yellow: #ffe812;
$yellow2: #fee500;

$promotion: #FE392F;
$unavailable-timeslot: #F0F0F0;

$primary-scroll-bar: #E9E9E9;
$pricing-promo-code: #957359;
$ew-primary: #95735A;

$coporate-slick-dot: #979797;

$grey2: #E2E7E1;
$grey3: #EBEBEB;

$red-warning: #F14848;
$pre-order: #957359;

$shade-orange: #846349;

$dark-shade-green: #3b4536;
