.overlay-wrapper {
    --bg-overlay: rgba(79,78,83,.85);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    background-color: var(--bg-overlay);
}

.overlay-wrapper.blur {
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);
}

